################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetConsoleAzureResources/obj
/PetConsoleAzureResources/bin/Debug/netcoreapp2.2
/PetConsoleAzureResources/.vscode
/PetConsoleAzureResources/.vs/PetConsoleAzureResources/v15
/.vscode
