################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetConsoleAzureResources/obj
/PetConsoleAzureResources/bin/Debug/netcoreapp2.2
/PetConsoleAzureResources/.vscode
/PetConsoleAzureResources/.vs/PetConsoleAzureResources/v15
/.vscode
/PetConsoleAzureBatch/bin/Debug/netcoreapp2.2
/PetConsoleAzureBatch/obj/Debug/netcoreapp2.2
/PetConsoleAzureBatch/obj
/PetConsoleBlobClient/bin/Debug/netcoreapp2.2
/PetConsoleBlobClient/obj/Debug/netcoreapp2.2
/PetConsoleBlobClient/obj
/PetCosmosTable/obj
/PetCosmosTable/bin/Debug/netcoreapp2.2
